.form{
    
    border: 2px solid black;
    width: 220px;
    height: 250px;
    padding: 10px;
}
input{
    margin-left: 20px;
    
    

}
.button{
    height: 30px;
    width: 30px;
    background-color: rgb(0, 102, 255);
}
.clear{
    height: 20px;
    width: 50px;
    background-color: rgb(42, 147, 165);
}